@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800&display=swap");

*{
  margin:0;
  padding:0;
  box-sizing:border-box;
}

html,
body,
#root{
  width:100%;
  min-height:100%;
}

body{
  font-family:"Poppins",sans-serif;
  background:#c7faf5;
  overflow-x:hidden;
}

a{
  text-decoration:none;
  color:inherit;
}

button{
  font-family:inherit;
  border:none;
  outline:none;
  cursor:pointer;
}